

   <article class="article">
    <div class="article-content">
      <p class="article-title">
        <a href="#">{{title}}</a>
      </p>
      <p class="article-discription">
        {{description}}
      </p>
    </div>
  </article>
