

    <div id="articleForArticles" class="article-main">
      <h3 class="article-title-main">{{title}}</h3>
      <p class = "article-author">
        Written by: {{author}}
      </p>
      <img class = "article-image" src= {{image}}>
      <p id="articleForArticles" class="content-main">
        {{this.content}}
      </p>
    </div>
