

    <div id="articleForArticles" class="article-main">
      <h3 class="article-title-main"> TiTTle {{title}}</h3>
      <p class = "article-author">
        Writen by:
        Author
        {{author}}
      </p>
      <img class = "article-image" src= {{image}}>
      <p id="articleForArticles" class="content-main">
        CONTENT
        {{content}}
      </p>
    </div>
