 <main class = "article-container">

      <article class="article">
    <div class="article-content">
      <p class="article-title">
        <a href="#">{{article_name}}</a>
      </p>
      <p class="article-discription">
        {{text}}
      </p>
    </div>
  </article>
