
<li class="navobj navlink pannel-link" id="random_article"><a href="#">Random Article</a></li>
<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>

<div id="modal-background" class="hidden"></div>
<div id="edit-article-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Add The Article Here!</h3>
          <button type="button" class="modal-close-button"></button>
        </div>

        <div class="modal-body">
          <div class="article-input">
            <div class="article-input-modal">
              <label for="article-text-input">Article Title</label>
              <textarea id="article-title-input"></textarea>

            </div>
            <div class="article-input-modal">
              <label for="article-text-input">Article Content</label>
              <textarea id="article-content-input"></textarea>
            </div>
            <div class="article-input-modal">
              <label for="article-text-input">Article Description</label>
              <textarea id="article-description-input"></textarea>
            </div>
            <div class="article-input-modal">
              <label for="article-text-input">Article Author</label>
              <textarea id="article-author-input"></textarea>
            </div>
            <div class="article-input-modal">
              <label for="article-text-input">Article Image</label>
              <textarea id="article-image-input"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Publish Article</button>
          </div>
        </div>
      </div>
  </div>
