  <li class="navobj navlink pannel-link" id="random_article"><a href="#">Random Article</a></li>
<button type="button" id="navbar-search-button"><i class="fa fa-search"></i></button>

<div id="modal-background" class="hidden"></div>
<div id="edit-article-modal" class="hidden">
      <div class="modal-dialog">

        <div class="modal-header">
          <h3>Edit The Article Here!</h3>
          <button type="button" class="modal-close-button"></button>
        </div>

        <div class="modal-body">
          <div class="article-input">
            <label for="article-text-input">Article text</label>
            <textarea id="article-text-input"></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="modal-cancel-button">Cancel</button>
            <button type="button" class="modal-accept-button">Publish Article</button>
          </div>
        </div>
      </div>
  </div>
