<div class="navbar">
      <ul class="navlist">
        <li class="navobj navlink active"><a href="../">Home</a></li>
		  
		      <li class="navobj navlink active"><a href="../">Featured</a></li>
		       <li class="navobj navlink active"><a href="../">Community Portal</a></li>
		       <li class="navobj navlink active"><a href="../">Home</a></li>
       
        <li class="navobj navlink active"><button type="button" id="edit-button">Add Article</button></li><!--changed this to add article, needs functionality-->
		  
		       <li class="navobj navlink active"><a href="../">Store</a></li>
		  <li class="navobj navlink active"><a href="../">Contact Us</a></li>
       
        <li class="navobj navbar-search">
          <input type="text" id="navbar-search-input" placeholder="Search...">
          <!-- <button type="button" id="navbar-search-button"><i class="search"></i></button> -->
        </li>
      </ul>

    </div>
    <div class="panel">
      <div class="panel-box">
        <a  href="../" title="Visit the main page"><img id="logo" width="200px"
          height="150px" src="/images/logo.png" alt="log of Hessipedia"></a>
        </div>

        <div class = "panel-nav">
          <ul>
            <li class="navobj navlink pannel-link"><a href="../">Home</a></li>
            <li class="navobj navlink pannel-link"><a href="#" id="random_article">Random Article</a></li>

            <li class="navobj navlink pannel-link"><a href="../">Current Events</a></li>
			  
            <li class="navobj navlink pannel-link"><a href="../">Languages</a></li>

            <li class="navobj navlink pannel-link"><a href="../">Export as PDF</a></li>

            <li class="navobj navlink pannel-link"><a href="../">Cite This Page</a></li>
			  
			   <li class="navobj navlink pannel-link"><a href="../">Donate Moneys</a></li>

            <li class="navobj navlink pannel-link"><a href="../">About Us</a></li>
          </ul>

        </div>
      </div>
<link rel="icon" href="http://example.com/favicon.png">
