<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hessipedia Home Page</title>

    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Bubbler+One|Poppins|Raleway" rel="stylesheet">



  </head>
  <body>

    {{{body}}}

  </body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.runtime.js"></script>
<script src="/index.js" charset="utf-8"></script>
</html>
